body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Protest Strike", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px rgb(84, 195, 134);
    padding: 20px;
    font-size: 35px;
    color: rgb(230, 55, 69);
}

.chamada {
    background: rgb(140, 18, 184);
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    color: rgba(0, 255, 51, 0.83)
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25;
}

.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 1%
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;

}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid rgb(1, 94, 17);
}

.categoria h2 {
color: rgb(31, 107, 249);
}